################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/codigo-fonte/obj/Release/net8.0/PUConstruir.GeneratedMSBuildEditorConfig.editorconfig
/codigo-fonte/obj/Debug/net8.0/PUConstruir.AssemblyInfo.cs
/codigo-fonte/obj/Debug/net8.0/PUConstruir.AssemblyInfoInputs.cache
/codigo-fonte/obj/Debug/net8.0/PUConstruir.GeneratedMSBuildEditorConfig.editorconfig
/codigo-fonte/obj/Debug/net8.0/PUConstruir.assets.cache
/codigo-fonte/obj/Release/net8.0/PUConstruir.AssemblyInfoInputs.cache
/codigo-fonte/obj/Release/net8.0/PUConstruir.AssemblyInfo.cs
/codigo-fonte/obj/Release/net8.0/PUConstruir.assets.cache
/codigo-fonte/obj/Debug/net8.0/PUConstruir.AssemblyInfo.cs
/codigo-fonte/obj/Debug/net8.0/PUConstruir.AssemblyInfoInputs.cache
/codigo-fonte/obj/Debug/net8.0/PUConstruir.GeneratedMSBuildEditorConfig.editorconfig
/codigo-fonte/obj/Release/net8.0/PUConstruir.AssemblyInfoInputs.cache
/codigo-fonte/obj/Debug/net8.0/PUConstruir.assets.cache
/codigo-fonte/obj/Release/net8.0/PUConstruir.assets.cache
/codigo-fonte/obj/Release/net8.0/PUConstruir.AssemblyInfo.cs
/codigo-fonte/obj/Release/net8.0/PUConstruir.GeneratedMSBuildEditorConfig.editorconfig
/codigo-fonte/bin/Debug/net8.0/appsettings.json
/codigo-fonte/bin/Debug/net8.0/PUConstruir.deps.json
/codigo-fonte/bin/Debug/net8.0/PUConstruir.dll
/codigo-fonte/bin/Debug/net8.0/PUConstruir.exe
/codigo-fonte/bin/Debug/net8.0/PUConstruir.pdb
/codigo-fonte/bin/Debug/net8.0/PUConstruir.runtimeconfig.json
/codigo-fonte/bin/Debug/net8.0/PUConstruir.staticwebassets.runtime.json
/codigo-fonte/.vs/PUConstruir/v17/.suo
