@model MaterialModel;
@{
    ViewData["Title"] = "Criar";
}

<div class="text-center">

    <h1 class=" display-4">Cadastrar Material</h1>

    <form asp-controller="Material" asp-action="post">

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" placeholder="Enter Descrição" asp-for="Descricao">
        </div>
        <div class="form-group">
            <label for="um">UM</label>
            <input type="text" class="form-control" id="um" placeholder="Enter UM" asp-for="Um">
        </div>
        <div class="form-group">
            <label for="valorPadrao">Valor Padrão</label>
            <input type="text" class="form-control" id="valorPadrao" placeholder="Enter Valor Padrão" asp-for="ValorPadrao">
        </div>
        <button type="submit" class="btn btn-primary btn-block" asp-controller="Material" asp-action="Criar">Adicionar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Material" asp-action="Index">Voltar</a>
    </form> 
</div>
