@model MaterialModel;
@{
    ViewBag.Title = "Criar";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Criar Material</h1>
            </div>

            <form asp-controller="Material" asp-action="Criar" method="post">
                <div class="modal-body">

                    <div data-mdb-input-init>
                        <label for="descricao">Descrição:</label>
                        <input type="text" maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="descricao" placeholder="Descrição do Material" asp-for="Descricao">
                    </div>

                    <div data-mdb-input-init>
                        <label for="um">Unidade de Medida:</label>
                        <input type="text" maxlength="10" class="form-outline mb-4 form-control form-control-lg form-projeto" id="um" placeholder="Unidade de Medida do Material" asp-for="Um">
                    </div>

                    <div data-mdb-input-init>
                        <label for="valorPadrao">Valor Padrão:</label>
                        <input type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorPadrao" placeholder="Preço Padrão do Material" asp-for="ValorPadrao">
                    </div>

                    <div data-mdb-input-init>
                        <label for="altura">Altura:</label>
                        <input type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="altura" placeholder="Altura do Material" asp-for="Altura">
                    </div>

                    <div data-mdb-input-init>
                        <label for="largura">Largura:</label>
                        <input type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="largura" placeholder="Largura do Material" asp-for="Largura">
                    </div>

                    <div data-mdb-input-init>
                        <label for="comprimento">Comprimento:</label>
                        <input type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="comprimento" placeholder="Comprimento do Material" asp-for="Comprimento">
                    </div>

                    <div data-mdb-input-init>
                        <label for="peso">Peso:</label>
                        <input type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="peso" placeholder="Peso do Material" asp-for="Peso">
                    </div>

                    <div data-mdb-input-init>
                        <label for="cor">Cor:</label>
                        <input type="text" maxlength="20" class="form-outline mb-4 form-control form-control-lg form-projeto" id="cor" placeholder="Cor do Material" asp-for="Cor">
                    </div>
                </div>

                <div class="modal-footer">
                    <a asp-controller="Material" asp-action="Index" class="btn btn-orc btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-dark btn-orc">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>