@{
    ViewBag.Title = "Deletar";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir material</h1>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja exluir o material?</p>
            </div>
            <div class="modal-footer">
                <a asp-area="" asp-controller="Material" asp-action="Index" class="btn btn-orc btn-secondary">Cancelar</a>
                <button type="button" class="btn btn-dark btn-orc">Excluir</button>
            </div>
        </div>
    </div>
</div>