@model MaterialModel;
@{
    ViewData["Title"] = "Materiais";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#gerarNovoMaterial" '>
        Adicionar material +
    </button>
</div>

<h1> Cadastro de Materiais de Construção </h1>

    <div id = "form-container">
        <form id= "material-form">
            <input type= "hidden" id= "material-id">
            <label for="nome">Nome:</ label>
            <input type = "text" id = "nome" required>
            <label for= "descricao" > Descrição:</ label>
            <input type = "text" id = "descricao" required>
            <label for= "preco" > Preço:</ label>
            <input type = "number" id = "preco" step = "0.01" required>
            <button type = "submit" id = "submit-btn"> Salvar </button>
        </form>
    </div>

    <div id = "materiais-container">
        <table id = "materiais-table">
            <thead>
                <tr>
                    <th> Nome </th>
                    <th> Descrição </th>
                    <th> Preço </th>
                    <th> Ações </th>
                </tr>
            </thead>
            <tbody id = "materiais-list"> </tbody>
        </table>
    </div>



