@{
    ViewData["Title"] = "Materiais";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#gerarNovoMaterial" '>
        Adicionar material +
    </button>
</div>

<p>Use this page to detail your site's privacy policy.</p>
