@{
    ViewBag.Title = "CriarProjeto";
}

<div tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     asp-controller="Projeto" asp-action="post">
    <div>
       <div>
            <div>
                <h2 class="modal-title">Cadastrar Projeto</h2>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do projeto:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do projeto" />
                </div>
                <div data-mdb-input-init>
                  <label for="Descrição">Descrição do projeto:</label>
                    <textarea placeholder="Descrição do projeto" name="texto" rows="5" cols="50" class="form-outline mb-4 form-control form-control-lg form-projeto" ></textarea>
                </div>
                <div data-mdb-input-init>
                    <label for="DataInicial">Data inicial:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Data inicial"  />
                </div>
                <div data-mdb-input-init>
                    <label for="DataInicial">Data final:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Data final" />
                </div>
                <div data-mdb-input-init>
                    <label for="Valor">Valor:</label>
                    <input type="tel" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Valor" />
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" asp-controller="Projeto" asp-action="Index">Cancelar</a>
                <button type="submit" class="btn btn-dark" data-bs-target="#adicionarProjeto">Cadastrar</button>
            </div>
        </div>
    </div>
</div>