@{
    ViewBag.Title = "DeletarProjeto";
}

<div class="modal fade" id="DeletarProjeto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir projeto</h1>
            </div>
            <div class="modal-body">
                <p class="TextoExcluirProjeto">Tem certeza que deseja excluir este projeto?</p>
            </div>
            <div class="modal-footer">
                <div class="BotaoFimDoPopUp">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-dark">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>
