@{
    ViewBag.Title = "DeletarProjeto";
}


<div>
    <div>
        <div>
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Excluir projeto</h1>
            </div>
            <div class="modal-body">
                <h2>Tem certeza que deseja exluir o projeto?</h2>
            </div>
            <div class="modal-footer">
                <a asp-controller="Projeto" asp-action="Index" role="button" class="btn btn-orc btn-secondary">Cancelar</a>
                <a class="btn btn-dark btn-orc">Excluir</a>
            </div>
        </div>
    </div>
</div>