@{
    ViewBag.Title = "EditarProjeto";
}

<div class="modal fade" id="MyModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar projeto</h1>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do projeto:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do projeto" />
                </div>
                <div data-mdb-input-init>
                    <label for="Descrição">Descrição do projeto:</label>
                    <textarea placeholder="Descrição do projeto" name="texto" rows="5" cols="50" class="form-outline mb-4 form-control form-control-lg form-projeto"></textarea>
                </div>
                <div data-mdb-input-init>
                    <label for="DataInicial">Data inicial:</label>
                    <input type="date" id="dt" onchange="mydate1();" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Data inicial" />
                    <input type="text" id="ndt" onclick="mydate();" hidden />
                </div>
                <div data-mdb-input-init>
                    <label for="DataInicial">Data final:</label>
                    <input type="date" id="dt" onchange="mydate1();" class="form-outline mb-4 form-control form-control-lg form-projeto"
                           placeholder="00/00/00" />
                    <input type="text" id="ndt" onclick="mydate();" hidden />
                </div>
                <div data-mdb-input-init>
                    <label for="Valor">Valor:</label>
                    <input type="tel" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Valor" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                <button type="button" class="btn btn-dark">Salvar</button>
            </div>
        </div>
    </div>
</div>