@model ProjetoModel;

@{
    ViewBag.Title = "Visualizar";
}


<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Visualizar projeto</h1>
    </div>
    <div class="modal-body">

        <div data-mdb-input-init>
            <label>Nome:</label>
            <input asp-for="NomeProjeto" type="text" readonly maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="nome" placeholder="Nome do projeto">
        </div>

        <div data-mdb-input-init>
            <label>Descrição:</label>
            <input asp-for="Descricao" type="text" readonly maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="descricao" placeholder="Descrição do projeto">
        </div>

        <div data-mdb-input-init>
            <label>Materiais:</label>
            <ul readonly style="list-style: none;" class="form-outline mb-4 form-control form-control-lg form-projeto">
                @foreach (var material in Model.Materiais)
                {
                    <li>@material.Descricao</li>
                }
            </ul>
        </div>

        <div data-mdb-input-init>
            <label>Serviços:</label>
            <ul readonly style="list-style: none;" class="form-outline mb-4 form-control form-control-lg form-projeto">
                @foreach (var servico in Model.Servicos)
                {
                    <li>@servico.Nome</li>
                }
            </ul>
        </div>


        <div data-mdb-input-init>
            <label for="DataInicial">Data inicial:</label>
            <input asp-for="DataInicial" readonly type="date" id="dt1" onchange="mydate1();" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Data inicial" />
        </div>

        <div data-mdb-input-init>
            <label for="DataFinal">Data final:</label>
            <input asp-for="DataFinal" readonly type="date" id="dt2" onchange="mydate2();" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Data final" />
        </div>

        <div data-mdb-input-init>
            <label>Valor Total:</label>
            <input asp-for="Valor" type="number" readonly maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorTotal" placeholder="Valor total do projeto">
        </div>

    </div>

    <div class="modal-footer">
        <a asp-area="" asp-controller="Projeto" asp-action="Index" class="btn btn-dark">Voltar</a>
    </div>
</div>