@{
    ViewBag.Title = "Criar";
}

<!-- Modal Parte 01 do Botão para de gerar um novo orçamento-->
<div id="gerarNovoOrcamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Novo Orçamento</h1>
            </div>
            <div class="modal-body">
                <label for="contaProjeto">Quantos projetos tem seu orçamento?</label>
                <input type="number" id="contaProjeto" name="contaProjetot" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Informe a quantidade" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="generateFields()" data-bs-toggle="modal" data-bs-target="#selecionarQuantidadeProjetos">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Parte 02 do Botão para de gerar um novo orçamento-->
<div id="selecionarQuantidadeProjetos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Novo Orçamento</h1>
            </div>
            <div class="modal-body">
                <div id="form2" style="display:none;"></div>
                <div id="detalheOrcamento" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Gerar Orçamento</button>
            </div>
        </div>
    </div>
</div>