@{
    ViewBag.Title = "DeletarOrcamento";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir orçamento</h1>
            </div>
            <div class="modal-body">
                <h2>Tem certeza que deseja exluir este orçamento?</h2>
                <br>
            </div>
            <div class="modal-footer">
                <a asp-controller="Orcamento" asp-action="Index" role="button" class="btn btn-orc btn-secondary">Cancelar</a>
                <a type="button" asp-route-id="" asp-controller="Orcamento" asp-action="ConfirmarDeletar" class="btn btn-dark btn-orc">Excluir</a>
            </div>
        </div>
    </div>
</div>