@{
    ViewData["Title"] = "Orcamentos";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#gerarNovoOrcamento" '>
        Adicionar orçamento +
    </button>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao visualizar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao visualizar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao visualizar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>