@{
    ViewBag.Title = "VisualizarOrcamento";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Visualizar orcamento</h1>
            </div>
            <div class="modal-body">

                <div data-mdb-input-init>
                    <label for="nome">Nome:</label>
                    <input type="text" readonly maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="nome" placeholder="Nome do Orçamento">
                </div>

                <div data-mdb-input-init>
                    <label for="valorTotal">Valor Total:</label>
                    <input type="text" readonly maxlength="10" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorTotal" placeholder="Valor Total">
                </div>

                <div data-mdb-input-init>
                    <label for="projetos">Projetos:</label>
                    <input type="number" readonly maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="projetos" placeholder="Projetos no Orçamento">
                </div>

            <div class="modal-footer">
                <a asp-area="" asp-controller="Orcamento" asp-action="Index" class="btn btn-orc btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
