@model PUConstruir.Models.OrcamentoModel;

@{
    ViewBag.Title = "Visualizar";
}

<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Visualizar orçamento</h1>
    </div>
    <div class="modal-body">

        <div data-mdb-input-init>
            <label>Nome:</label>
            <input type="text" readonly maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="nome" placeholder="@Model.Nome">
        </div>

        <div data-mdb-input-init>
            <label>Valor Total:</label>
            <input type="number" readonly maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorTotal" placeholder="@Model.ValorTotal">
        </div>

        <div data-mdb-input-init>
            <label>Projetos:</label>
            @foreach (var projeto in Model.Projetos)
            {
                <input readonly maxlength="120" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="@projeto.NomeProjeto" />
            }
        </div>
    </div>

    <div class="modal-footer">
        <a asp-area="" asp-controller="Orcamento" asp-action="Index" class="btn btn-dark">Voltar</a>
    </div>
</div>