@{
    ViewBag.Title = "Visualizar";
}

<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Visualizar orçamento</h1>
    </div>
    <div class="modal-body">

        <div data-mdb-input-init>
            <label>Nome:</label>
            <input type="text" readonly maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="nome" placeholder="Nome do orçamento">
        </div>

        <div data-mdb-input-init>
            <label>Valor Total:</label>
            <input type="number" readonly maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorTotal" placeholder="Valor total do orçamento">
        </div>

        <div data-mdb-input-init>
            <label for="altura">Nome do Projeto 1:</label>
            <input type="text" readonly maxlength="120" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="projeto" placeholder="Nome do projeto 1">
        </div>

        <div data-mdb-input-init>
            <label for="altura">Nome do Projeto 2:</label>
            <input type="text" readonly maxlength="120" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="projeto" placeholder="Nome do projeto 2">
        </div>
    </div>

    <div class="modal-footer">
        <a asp-area="" asp-controller="Orcamento" asp-action="Index" class="btn btn-dark">Voltar</a>
    </div>
</div>