@{
    ViewData["Title"] = "Orcamentos";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#gerarNovoOrcamento" '>
        Adicionar orçamento +
    </button>
</div>

<div id="SecaoFlexNomeDoProjeto">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!--Botao pesquisar-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
        <!--Botao Excluir-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
        </button>
    </div>
</div>

<div id="SecaoFlexNomeDoProjeto">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!--Botao pesquisar-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
        <!--Botao Excluir-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
        </button>
    </div>
</div>

<div id="SecaoFlexNomeDoProjeto">
    <div class="NomeDoProjeto">
        <h5>Nome do orçamento</h5>
    </div>
    <div class="BotaoLateral">
        <!--Botao pesquisar-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#pesquisaProjetoNoOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
        <!--Botao Excluir-->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirOrcamento">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
        </button>
    </div>
</div>

<!-- Modal do Botão pesquisar os projetos deste orçamento -->
<div class="modal fade div-orc" id="pesquisaProjetoNoOrcamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Lista de Projetos deste orçamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>AQUI COLOCO UM ELEMENTO PARA DEPOIS LINKAR COM O BACKEND</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-orc btn-dark">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Botão Pop-up Excluir-->
<div class="modal fade div-orc" id="excluirOrcamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Orçamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja exluir o orçamento?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Parte 01 do Botão para de gerar um novo orçamento-->
<div class="modal fade div-orc" id="gerarNovoOrcamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Novo Orçamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="contaProjeto">Quantos projetos tem seu orçamento?</label>
                <input type="number" id="contaProjeto" name="contaProjetot" class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Informe a quantidade" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-orc btn-dark" data-bs-dismiss="modal" onclick="generateFields()" data-bs-toggle="modal" data-bs-target="#selecionarQuantidadeProjetos">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Parte 02 do Botão para de gerar um novo orçamento-->
<div class="modal fade div-orc" id="selecionarQuantidadeProjetos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Novo Orçamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="form2" style="display:none;"></div>
                <div id="detalheOrcamento" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  data-bs-toggle="modal" data-bs-target="#gerarNovoOrcamento">Voltar</button> -->
                <!-- Pop-up Sucesso-->
                <!-- Botão 'gerar orçamento' para orçamento gerado com sucesso -->
                <button type="button" class="btn btn-orc btn-dark" data-bs-toggle="modal" data-bs-target="#orcamentoSucesso" onclick="generateFields()">Gerar Orçamento</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do Botão 'gerar orçamento' para orçamento gerado com sucesso-->
<div class="modal fade div-orc" id="orcamentoSucesso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar novo orçamento</h1>
            </div>
            <div class="modal-body">
                <p class="TextoExcluirProjeto">Orçamento gerado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <div class="BotaoFimDoPopUp">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>