@{
    ViewData["Title"] = "Perfil";
}
<h1>@ViewData["Title"]</h1>

<section class="card mb-4">
    <div class="row">
        <div class="col-lg-12">
        <div class="mt-4">
            <div class="card-body text-center">
            <img 
                ://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">José Fonseca</h5>
            <p class="text-muted">Endereço do usuário</p>
            </div>
        </div>
        </div>
        </div>
        <div class="col-lg-12">
        <div>
            <div class="card-body">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                <p class="mb-0">Nome completo</p>
                </div>
                <div class="col-sm-6">
                <p class="text-muted mb-0">José Fonseca</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-6">
                <p class="text-muted mb-0">exempo@exemplo.com</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                <p class="mb-0">Número de telefone</p>
                </div>
                <div class="col-sm-6">
                <p class="text-muted mb-0">(31) 1234-5678</p>
                </div>
            </div>
            <hr>
            <div class="row">
                    <div class="col-sm-6">
                <p class="mb-0">Endereço</p>
                </div>
                <div class="col-sm-6">
                <p class="text-muted mb-0">Endereço do usuário</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>