/*Seção Superior Projetos*/
#ProjetosTitulo {
    display: flex;
    display: inline-flexbox;
    justify-content: space-between;
    margin: 50px;
}

.Titulo {
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 0.8rem 3rem 0.50rem 0.50rem;
}

.AdicionarProjeto {
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 0.25rem;
}
/*Seção Inferior Projetos*/
#SecaoFlexNomeDoProjeto {
    display: flexbox;
    background-color: lightgrey;
    display: -ms-inline-flexbox;
    justify-content: space-between;
    margin: 50px;
    padding: 1rem 1.5rem 2.4rem 1rem;
    border-radius: 0.25rem;
}

.NomeDoProjeto {
    font-size: larger;
    font-weight: 500;
    border-radius: 0.15rem;
    float: left;
}

.BotaoLateral {
    border: 0rem;
    background-color: lightgrey;
    justify-content: right;
    float: right;
}

.Botao {
    border: 0rem;
    background-color: lightgrey;
}
/*Pop-ups*/
.CampoDeCadastro {
    background-color: lightgrey;
    border: 0rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TextoExcluirProjeto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    background-color: lightgrey;
    margin-top: 15px;
    margin-bottom: 10px;
}

#dt {
    text-indent: -500px;
    height: 25px;
    width: 200px;
}
