<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="Servicos.css">
</head>
<body>
    <div id="meuDialog" class="dialog">
        <button class="fechar">X</button>
        <p>chorando</p>
        <p>Vou fazer o resto amanhã</p>
    </div>
    <h1 class="faz o l">Serviços</h1>
    <button id="addService">+</button>
    <button id="toggleDialog">TESTEPOGGERS</button>
    <ul id="serviceList">
    </ul>
    <script src="./Servicos.js"></script>
</body>
</html>
