@model ServicoModel
@{
    ViewBag.Title = "CriarServico";
}
<h1>Cadastrar um serviço</h1>

<form asp-controller="Servico" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="adicionarServico" class="form-label"><h5>Indique o nome do serviço</h5></label>
        <input type="text" asp-for="Nome" class="form-control" id="adicionarServico">
        <div class="form-text">Você poderá alterar o nome do serviço depois</div>
    </div>
    <div class="mb-3">
        <label for="adicionarValorServico" class="form-label"><h5>Qual o valor padrão deste serviço?</h5></label>
        <input type="text" asp-for="ValorPadrao" class="form-control" id="adicionarValorServico" placeholder="Preço em R$">
    </div>
    <div class="mb-3">
        <label for="adicionarDescricaoServico" class="form-label"><h5>Descrição do serviço</h5></label>
        <input type="text" asp-for="Descricao" class="form-control" id="adicionarDescricaoServico" placeholder="Descreva brevemente o serviço a ser cadastrado">
    </div>

    <button type="submit" class="btn btn-dark" data-bs-target="#adicionarServico">Cadastrar</button>
    <a type="button" class="btn btn-secondary" asp-controller="Servico" asp-action="Index">Cancelar</a>
</form>


<!-- **Não consegui fazer funcionar**
<div class="modal fade div-orc" id="adicionarServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do serviço:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do serviço" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
-->
