@model ServicoModel

@{
    ViewBag.Title = "Criar";
}

<form asp-controller="Servico" asp-action="Criar" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar serviço</h1>
        </div>
        <div class="modal-body">

            <div data-mdb-input-init>
                <label>Nome:</label>
                <input asp-for="Nome" type="text" maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="nome" placeholder="Nome do serviço">
            </div>

            <div data-mdb-input-init>
                <label>Descrição:</label>
                <input asp-for="Descricao" type="text" maxlength="120" class="form-outline mb-4 form-control form-control-lg form-projeto" id="descricao" placeholder="Descrição do serviço">
            </div>

            <div data-mdb-input-init>
                <label for="Materiais">Selecione os Materiais</label>
                <!-- <select asp-for="Materiais" asp-items="ViewBag.Materiais" class="form-control" multiple></select>-->
            </div>

            <div data-mdb-input-init>
                <label>Valor:</label>
                <input asp-for="ValorPadrao" type="number" maxlength="18" min="0" step="0.01" class="form-outline mb-4 form-control form-control-lg form-projeto" id="valorTotal" placeholder="Valor do serviço em R$">
            </div>

        </div>
        <div class="modal-footer">
            <a asp-area="" asp-controller="Servico" asp-action="Index" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </div>
</form>