@{
    ViewBag.Title = "CriarServico";
}

<div class="modal fade div-orc" id="adicionarServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do serviço:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do serviço" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Cadastrar</button>
            </div>
        </div>
    </div>
</div>