@model ServicoModel;

@{
    ViewBag.Title = "Deletar";
}

<div class="centralizarTela mt-5">
    <div class="telaDeletar modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Excluir serviço</h4>
        </div>
        <div class="modal-body text-start">
            <p>
                Você está prestes a excluir o serviço <strong>@Model.Nome</strong>.<br>
                Esta é uma ação definitiva, sem possibilidade de reversão.<br><br>
                Tem certeza que deseja prosseguir?
            </p>
        </div>
        <div class="modal-footer">
            <a asp-controller="Servico" asp-action="Index" role="button" class="btn btn-secondary">Cancelar</a>
            <a type="button" asp-route-id="@Model.Id" asp-controller="Servico" asp-action="ConfirmarDeletar" class="btn btn-danger">Excluir</a>
        </div>
    </div>
</div>