@{
    ViewBag.Title = "Deletar";
}

<div class="centralizarTela mt-5">
    <div class="telaDeletar modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Excluir serviço</h4>
        </div>
        <div class="modal-body text-start">
            <p>
                Esta é uma ação definitiva e irreversível,
                tem certeza que deseja exluir o serviço?
            </p>
        </div>
        <div class="modal-footer">
            <a asp-controller="Servico" asp-action="Index" role="button" class="btn btn-secondary">Cancelar</a>
            <a class="btn btn-danger">Excluir</a>
        </div>
    </div>
</div>