@{
    ViewData["Title"] = "Serviços";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#adicionarServico" '>
        Adicionar serviço +
    </button>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do serviço</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao editar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#editarServico">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirServico">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do serviço</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao editar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#editarServico">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirServico">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<div id="listaStl">
    <div class="NomeDoProjeto">
        <h5>Nome do serviço</h5>
    </div>
    <div class="BotaoLateral">
        <!-- Botao editar -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#editarServico">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <!-- Botao excluir -->
        <button type="button" class="btn btn-lg btn-block btnCrud" data-bs-toggle="modal" data-bs-target="#excluirServico">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<!--Pop-up Adicionar-->
<div class="modal fade div-orc" id="adicionarServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do serviço:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do serviço" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<!--Pop-up Editar-->
<div class="modal fade div-orc" id="editarServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init>
                    <label for="NomeDoProjeto">Nome do serviço:</label>
                    <input class="form-outline mb-4 form-control form-control-lg form-projeto" placeholder="Nome do serviço" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Botão Pop-up Excluir-->
<div class="modal fade div-orc" id="excluirServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir serviço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja exluir o serviço?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orc btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark btn-orc">Excluir</button>
            </div>
        </div>
    </div>
</div>