@{
    ViewBag.Title = "RecuperarSenha";
}

<div class="modal fade" id="popupRecuperarSenha" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Recuperar senha</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <form>
                    <label for="contaProjeto">Informe abaixo o e-mail da conta que deseja recuperar.</label><br />
                    <div id="blocoPopupEmail" data-mdb-input-init class="form-outline mb-4 form-control form-control-lg blocoForm">
                        <i style="color:grey;" class="fa-solid fa-envelope"></i>
                        <input type="email" id="inputEmail" class="form-control form-control-lg form-login" placeholder="E-mail" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg btn-block btn-disable" data-bs-dismiss="modal" aria-label="Fechar">Fechar</button>
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>
